@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 


body{
	background-image: url('../../resource/image/back_ground.jpg');
	background-attachment: fixed;
	font-family: Brown, Verdana, sans-serif;
   	text-align : center;
   
   	position : relative;
   	margin:0;
 }

header{
    
    height: 100px;
    position : relative;
	border-top: 4px dashed black;
}



#login_logo{

	margin-left: auto;
	margin-right: auto;
	margin-top: auto; 
	text-align: center;
	vertical-align: center;
	
	position: relative;
		
}

#login_window{
	
	text-align: center;
	vertical-align: center;
	margin: auto;
	padding: auto;
	font-family:'Indie Flower','Jeju Gothic';
}

.id_pw{
	font-size: 23px;
	color: black;
	font-family: 'Oswald';
	font-style: bold;
}

.id_pw_input{
	color: black;
}


footer{
 	position : relative;
    height: 100px;
    margin-top: 30px;
    border-bottom: 4px dashed black;
}

