@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 

body{
	background-image: url('../../resource/image/back_ground.jpg');
	font-family: Brown, Verdana, sans-serif;
    margin: 0;
    text-align: center;
   
}

header{
    background-image: url('../../resource/image/2.jpg');
    height: 70px;
    text-align: center;

}

#login_logo{
	
	width: 450px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px; 
	text-align: center;
}

#login_window{
	
	text-align: center;
	width: 400px;
	height: 300px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	background-color : white;
	font-family:'Indie Flower','Jeju Gothic';


}

.id_pw{
	font-size: 23px;
	color: black;
	font-family: 'Oswald';
	font-style: bold;
}

.id_pw_input{
	color: black;
}


footer{
    background-image: url('../../resource/image/2.jpg');
    height: 70px;
}

