@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 

body{
    background-color: yellow;
	font-family: Brown, Verdana, sans-serif;
	text-align: center;
	position : relative ;
	margin: 0;

}

header{
    height: 100px;
    position: relative;
    text-align: center;
}

#login_logo{

	height: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

.navbar-default{
	width : 1200px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	position: relative;
}

.mainpage{

	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 1100px;
	border: 13px solid #DCAC85;
	padding-top: 20px;
	background-image : url('../../resource/image/back_ground.jpg');
	text-align: center;

}

#firstpage{
	z-index: 2;
}

#notepage{
	z-index: 1;
}

/*
메인페이지 lecture note label css
*/
.lectureNote_label{
	background-image : url('../../resource/image/label_pin.png');
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
}





#feedbackpage{
	z-index: 0;
}

#managepage{
	z-index: 3;
}

#announcementpage{
	z-index: 4;
}



.mainpage > div#notice{
	
	width : 1200px;
	height : 800px;
	text-align: center;
	padding-top : 20px;
	padding-bottom: 150px;
	font-size: 50px;
	margin: auto;
	font-family: 'Nanum Pen Script';
}


/* 메모지 css*/

#feedback_nav {
	background-color: white;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 15px;

	padding: 10px;
}

.feedback_div {
	height: 20%;
	width: 20%;
	background-size: 100% 100%;
	float: left;
}

.image_post{
	background-image: url('../../resource/image/postit/postit/1.png');
}

.image_post.posted{
	background-image: url('../../resource/image/postit/pushedpostit/1.png');
}


.memo_input{
	height: 70%;
	width: 70%;
	margin-top: 45px;
	margin-left: 5%;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 2px;
	background-color: transparent;
	border: 0px solid transparent;
}

.fix_memo{
	margin-left: 7px;
	background-color: #AAAAEE;
}

.already_done {
	margin-left: 7px;
	background-color: #CCCCCC;
}

.pin_memo{
	margin-left: 7px;
	background-color: #AAEEAA;
}

.del_memo{
	margin-left:20px;
	background-color: #EEAAAA;
}

.image_message{
	height: 220px;
	width: 220px;
	margin-top: 50px;
	margin-left: 40px;
	font-size: 10pt;
}

footer{
    height: 100px;
}



