@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 

body{
    background-color: yellow;
	font-family: Brown, Verdana, sans-serif;
	text-align: center;
	position : relative ;
	margin: 0;

}

header{
    height: 100px;
    position: relative;
    text-align: center;
}

#login_logo{

	height: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 20px;
	position: relative;
}

.navbar-default{
	width : 1200px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	position: relative;

}

.mainpage{

	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 1100px;
	border: 13px solid #DCAC85;
	padding-top: 30px;
	background-image : url('../../resource/image/back_ground.jpg');
	text-align: center;

}

#firstpage{
	z-index: 2;
}

#notepage{
	z-index: 1;
}

#feedbackpage{
	z-index: 0;
}

#notice{
	background-color: yellow;
	width : 640px;
	height : 400px;
	text-align: center;
	padding-top : 150px;
	padding-bottom: 150px;
	font-size: 20px;
	margin: auto;
	font-family: 'Nanum Pen Script';
}

#post_note{
	background-color: red;
	width:400px;
	height: 500px;
	float: left;
}

#post_feedback{
	width:400px;
	height: 500px;
	background-color: blue;
	float: right;
}

footer{
    height: 100px;
}



