@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 


body{
	background-image: url('../../resource/image/back_ground.jpg');
	font-family: Brown, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    position : relative;
}

header{

    height: 50px;
    text-align: left;
    padding-left : 20px;
    padding-top: 10px;
    position : relative;
}



#join_logo{
	width: 600px;
	height: 200px;
	margin : auto;
	margin-top: 40px; 
	margin-bottom: 40px;
	text-align: center;
	
}

#join_window{
	width: 700px;
	height :360px;
	margin : auto;
	padding-top : 60px;
	border: 4px dashed black;
	position: relative;
	
}

#joinform{
text-align: center;
font-family: 'Nanum Pen Script' ;
position: relative;
}


.option{
	font-size: 25px;
	color: black;
	font-family: 'Nanum Pen Script' ;
	font-style: bold;
}

.id_pw_input{
	color: black;
	font-size: 25px;
	font-family: 'Nanum Pen Script' ;

}

.btn {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

footer{
    
    height: 30px;
}

